.btn {
    @include btn-style;
    &:active {
        transform: translateY(0.3rem);
        box-shadow: (0 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
    }
}

.title {
    font-weight: 800;
    font-size: 3.6rem;
    text-transform: uppercase;
    line-height: 1.19;
    letter-spacing: 1rem;
    background: linear-gradient(90deg, rgba($brown-light, 0.7) 0.03%, rgba($brown-dark, 0.7) 99.94%);
    -webkit-background-clip: text;
    transition: 0.4s all;
    color: transparent;
    &:hover {
        transform: skewY(2deg) skewX(5deg);
        text-shadow: 0rem 0.4rem 0.4rem rgba($color: #000000, $alpha: 25%);
    }
    @include respond(tab-land) {
        font-size: 3rem;
    }
    @include respond(tab-port) {
        font-size: 2.3rem;
        letter-spacing: 0.5rem;
    }
}

.small-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.2rem;
}

.small-btn {
    &:link,
    &:visited {
        font-weight: 700;
        font-size: 1.6rem;
        transition: 0.4s all;
        padding: 1rem;
        display: inline-block;
        border-bottom: 0.1rem solid $brown-light;
    }
    &:hover {
        background-color: $brown-light;
        color: #fff;
    }
    &:active {
        transform: translateY(0.3rem);
        box-shadow: (0 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
    }
}

.tours-card {
    perspective: 100rem;
    -moz-perspective: 100rem;
    min-height: 50rem;
    position: relative;
    @include respond(tab-port) {
        height: auto;
    }
    &__side {
        box-shadow: (0 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
        border-radius: 0.5rem;
        transition: 1s all;
        min-height: 50rem;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        width: 100%;
        &_front {
            padding-bottom: 13rem;
        }
        &_back {
            background: linear-gradient(90deg, rgba($brown-light, 1) 0.03%, rgba($brown-dark, 1) 99.94%);
            transform: rotateY(-180deg);
            @include respond(tab-port) {
                transform: rotateY(0);
                clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
                padding: 5rem;
                padding-top: 12rem;
                margin-top: -11rem;

            }
        }
        @include respond(tab-port) {
            height: auto;
            position: relative;
        }
    }
    &:hover .tours-card__side_front {
        transform: rotateY(180deg);
        @include respond(tab-port) {
            transform: rotateY(0deg);
        }
    }
    &:hover .tours-card__side_back {
        transform: rotateY(0deg);
    }

    &__img {
        height: 21rem;
        background-color: $brown-light;
        background-blend-mode: hard-light;
        clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 80%);
        margin-bottom: 5rem;
        &_1 {
            background: url("../../img/tours/card-1.jpg") center/cover no-repeat;
        }
        &_2 {
            background: url("../../img/tours/card-2.jpg") center/cover no-repeat;
        }
        &_3 {
            background: url("../../img/tours/card-3.jpg") center/cover no-repeat;
        }
        @include respond(tab-port) {
            height: 30rem;
            margin-bottom: 7rem;
        }
    }
    &__title {
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 1.21;
        text-align: right;
        top: 17rem;
        position: absolute;
        right: 0;
        color: #ffffff;
        text-transform: uppercase;
        @include respond(tab-port) {
            top: 25rem;
        }
    }
    &__span {
        background: linear-gradient(90deg, $brown-light, $brown-dark);
        padding: 1rem 1.5rem 0.3rem 2rem;
    }
    &__span_2 {
        position: absolute;
        top: 3.3rem;
        right: 0;
    }
    &__list {
        text-align: center;
    }
    &__item {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.18;
        display: block;
        border-bottom: 1px solid $gray-dark;
        position: relative;
        padding-bottom: 0.2rem;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        @include respond(tab-port) {
            border-bottom: none;
        }
    }
    &__backSide-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include respond(tab-port) {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }
    &__paragraph {
        margin-bottom: 9rem;
        color: #ffffff;
        text-transform: uppercase;
        &_slim {
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.18;
        }
        &_bold {
            font-weight: 500;
            font-size: 6rem;
            line-height: 1.2;
        }
    }
}

.reviews-card {
    max-width: 85%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: (0 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
    padding: 6rem 13rem;
    transform: skewX(-25deg);
    text-align: left;
    margin-bottom: 8rem;
    & > * {
        transform: skewX(25deg);
        @include respond(tab-port) {
            transform: skewX(10deg);
        }
    }
    &__title {
        margin-bottom: 1rem;
    }
    &__pic {
        height: 15rem;
        width: 15rem;
        overflow: hidden;
        float: left;
        margin-right: 4rem;
        position: relative;
        border-radius: 50%;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        @include respond(tab-port) {
            float: none;
            margin: 0 auto 2rem;
        }
    }
    &__img {
        width: 100%;
        transition: 0.4s all;
        transform: scale(1.2);
    }
    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        text-align: center;
        opacity: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        transition: 0.5s all;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
    }
    &:hover .reviews-card__name {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover .reviews-card__img {
        transform: scale(1);
        filter: blur(0.3rem) brightness(70%);
    }
    @include respond(tab-port) {
        transform: skewX(-10deg);
        padding: 5rem;
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-gradient {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba($brown-light, 0.7), rgba(#000, 0.7));
}

.book {
    min-height: 50rem;
    background: linear-gradient(
            115deg,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.8) 57%,
            rgba(186, 133, 84, 0.8) 57%,
            rgba(161, 79, 3, 0.8) 100%
        ),
        url("../../img/form/form-bg.jpg") center/cover no-repeat;
    box-shadow: (0 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
    border-radius: 0.5rem;
    padding: 5rem;
    &__title {
        margin-bottom: 3rem;
    }

    &__group:not(:last-child) {
        margin-bottom: 2.7rem;
        @include respond(tab-land) {
            margin-bottom: 1.8rem;
        }
    }
    &__group:nth-child(4) {
        margin-bottom: 3rem;
    }
    &__label {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.18;
        display: block;
        padding-top: 1rem;
        padding-left: 1.5rem;
        transition: 0.3s all;
        @include respond(tab-land) {
            font-size: 1.2rem;
        }
    }

    &__input {
        font-size: 1.6rem;
        color: #000;
        box-shadow: (0 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
        padding: 1.8rem 2rem;
        background-color: #fff;
        letter-spacing: 0.2rem;
        border: none;
        border-bottom: 0.3rem solid transparent;
        border-radius: 0.5rem;
        width: 50%;
        outline: none;
        transition: 0.3s all;
        &:focus:valid {
            border-bottom: 0.3rem solid #66d763;
        }
        &:focus:invalid {
            border-bottom: 0.3rem solid #d76363;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }
    &__input:placeholder-shown + .book__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
        @include respond(tab-land) {
            display: block;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
    }
    &__radio-btn {
        display: none;
    }
    &__radio-label {
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
        span {
            width: 3rem;
            height: 3rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            display: block;
            border: 0.5rem solid $brown-dark;
            &::after {
                content: "";
                display: block;
                width: 1.4rem;
                height: 1.4rem;
                border-radius: 50%;
                background-color: $brown-dark;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: 0.3s all;
            }
        }
    }
    &__radio-btn:checked ~ .book__radio-label span::after {
        opacity: 1;
    }
    &__btn {
        @include btn-style;
        cursor: pointer;
        border: none;
        color: #fff;
        background-color: $brown-light;
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: 0.5rem;
    }
    @include respond(tab-port) {
        background: linear-gradient(
                115deg,
                rgba(255, 255, 255, 0.8) 100%,
                rgba(255, 255, 255, 0.8) 57%,
                rgba(186, 133, 84, 0.8) 57%,
                rgba(161, 79, 3, 0.8) 100%
            ),
            url("../../img/form/form-bg.jpg") center/cover no-repeat;
        padding: 4rem;
    }
}
